{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
  'clear-both',
  'modules-info',
] %}
{% if internal_css %}{{ attach_library('modules_info/modules-info') }}{% endif %}
<div{{ attributes.addClass(classes) }}>
  <table>
    <tr>
      {% if columns.id %}<th>{{ 'Id'|t }}</th>{% endif %}
      {% if columns.name %}<th>{{ 'Name'|t }}</th>{% endif %}
      {% if columns.machine_name %}<th>{{ 'Machine name'|t }}</th>{% endif %}
      {% if columns.version %}<th>{{ 'Version'|t }}</th>{% endif %}
      {% if columns.sites %}<th>{{ 'Sites'|t }}</th>{% endif %}
      {% if columns.issues %}<th>{{ 'Issues'|t }}</th>{% endif %}
      {% if columns.bugs %}<th>{{ 'Bugs'|t }}</th>{% endif %}
    </tr>
    {% for row in content %}
        <tr>
          {% if columns.id %}<td>{{ row.id }}</td>{% endif %}
          {% if columns.name %}<td><a href="{{ row.name_url }}" target="_blank">{{ row.name }}</a></td>{% endif %}
          {% if columns.machine_name %}<td>{{ row.machine_name }}</td>{% endif %}
          {% if columns.version %}<td><a href="{{ row.version_url }}" target="_blank">{{ row.version }}</a></td>{% endif %}
          {% if columns.sites %}<td><a href="{{ row.sites_url }}" target="_blank">{{ row.sites }}</a></td>{% endif %}
          {% if columns.issues %}<td><a href="{{ row.issues_url }}" target="_blank">{{ row.issues }}</a></td>{% endif %}
          {% if columns.bugs %}<td><a href="{{ row.bugs_url }}" target="_blank">{{ row.bugs }}</a></td>{% endif %}
        </tr>
    {% endfor %}
  </table>
</div>
